body {
	margin: 20px;
}

.container {
	width: 1024px;
}

canvas {
    background: #fff;
    border: 1px solid #ccc;    
}

canvas:hover, canvas:active {
	cursor: crosshair;
}

.compatibleBrowsersIcon {
	width: 24px;
	height: 24px;
}

.canvasIcon:hover {
	cursor: pointer;
}

.centered-header { 
	text-align: center; 
}
